@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

/* Global styling */

*{
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}

body{
    font-family: Poppins, sans-serif;
    background-color: #527eec;
}

input[type=submit],
input[type=text],
input[type=tel],
input[type=password],
select,
input[type=email]{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    padding: 10px 10px;
    border-radius: 10px;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=password]:focus,
select:focus,
input[type=email]:focus{
    border-color: #527eec;
    border-style: solid;
    border: 1px;
}

input[type=submit]{
    background-color: #245ce7;
    color: #fff;
    border: none;
}

input[type=submit]:hover{
    background-color: #174cd2;
}

/* Navigation Styling */
header {
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row wrap;
    padding: 10px 10px;
    color:  #174cd2;
    z-index: 20;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-container {
    display: flex;
    height: 25px;
    flex-direction: row nowrap;
    align-items: center;
    row-gap: 20px;
    /* position: fixed; */
}

.nav-container a:visited,
a{
    color:#174cd2;
}

.nav-container li a:hover{
    background-color: #174cd2;
    color: #fff;
}

.nav-container li{
    list-style-type: none;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
}

li a{
    text-decoration: none;
    padding: 10px;
}


/* Form styling */

.form-container{
    margin-top: 2%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.form-header{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.form-body{
    margin-top: 15px;
    width: 55%;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 8px 8px 5px #174cd2;
}

.form-group{
    margin: 20px 20px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-style: oblique;
}

.log1 {
    width: 35%;
}